@model cacambaonline.Models.Notificacoes

@{
    ViewData["Title"] = "Excluir Nofiticação";
}

<h2>@ViewData["Title"]</h2>

<h4>Tem certeza que deseja excluir ?</h4>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
            .
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ctr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctr.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioFiscalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioFiscalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
