@model IEnumerable<cacambaonline.Models.UsuarioTransportador>

@{
    ViewData["Title"] = "Lista Usuário/Transportador";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Associar Usuário a Transportador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportadores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.UserId)*@

                    @foreach (var user in ViewBag.QueryUser)
                    {
                        @if (user.Value == item.UserId)
                        {
                            <div>@user.Text</div>
                        }

                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportadores.NomeFantasia)
            </td>
                <td class="text-right">
                            <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                        </td>
        </tr>
}
    </tbody>
</table>
