@model cacambaonline.Models.Infracoes

@{
    ViewData["Title"] = "Detalhe da Infração";
}

<h2>Detalhe</h2>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prazo)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ctr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ctr.Id)
        </dd>*@
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioFiscalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioFiscalId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
