@model IEnumerable<cacambaonline.Models.Infracoes>

@{
    ViewData["Title"] = "Lista de Infrações";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Infração</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Obs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prazo)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Ctr)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.UsuarioFiscalId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.Ctr.Id)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.UsuarioFiscalId)
            </td>*@
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                </td>
        </tr>
}
    </tbody>
</table>
