@model cacambaonline.Models.Cacambas

@{
    ViewData["Title"] = "Detalhe Caçamba";
}

<h2>@ViewData["Title"]</h2>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transportadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transportadores.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
